body {
    background-color: #EEF9BF;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 63px;
    margin: 40px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: -0.004em;
    color: rgba(117, 183, 158, 1);
}

.card-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 827px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: red;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 250px;
    margin-bottom: 16px;
    margin-right: 16px;

    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}

.imagem {
    width: 100px;
    height: 100px;
}

.escondido {
    transition: all 300ms linear;
    display: none;
}

.timer {
    position: fixed;
    top: 40px;
    right: 20px;

    z-index: 1;
}
