body {
    background-color: #EEF9BF;
}

.corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 63px;
    margin-top: 40px;
    margin-bottom: 47px;
    height: 63px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: -0.004em;
    color: rgba(117, 183, 158, 1);
    background-color: blue;
}

.card-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;

    width: 872px;
    background-color: red;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 118px;
    height: 146px;
    margin-bottom: 16px;
    margin-right: 16px;

    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}

.frente {
    width: 100px;
    height: 100px;
}

.escondido {
    display: none;
}
